{% extends [layout ~ '.html.twig', 'layout.html.twig'] %}
{% block body %}
	{% from 'macros.html.twig' import empty, tag, roleBadge, userBadge, inlineAuthor %}
	{% include 'incident/components/incidentHeader.html.twig' %}

	<h2 class="my-4">
		<i class="fa-solid fa-message"></i>
		<span class="font-monospace">{{event.getId}}</span>
		-
		{{event.getTitle}}
	</h2>

	<div class="card border-dark">
		<div class="card-header bg-secondary-subtle">
			<div>
				{{inlineAuthor(event.getCreator, event.getRole)}}
				Posted
				<time>{{event.getCreated|date}}</time>
				{% if event.getEdited %}
					• Edited
				{% endif %}
			</div>
		</div>
		<div class="text-bg-{{event.getSeverity.getclass}} bg-opacity-100 px-3 fw-bold border-bottom">{{event.getSeverity.getLong}}</div>
		<div class="card-body markdown-content">
			{% set replace = false %}
			{% for c in comments %}
				{% if 'prepend' == c.getAction.value %}
					<strong>UPDATED BY</strong>
					{{inlineAuthor(c.getAuthor, c.getAuthorRole)}}
					<time>{{c.getCreated|date}}</time>:
					{{c.getText|markdown_to_html}}
					<hr>
				{% endif %}
				{% if 'replace' == c.getAction.value %}
					{% set replace = c %}
				{% endif %}
			{% endfor %}
			<div class="lead">
			{% if replace %}
				{{replace.getText|markdown_to_html}}
			{% else %}
				{{event.getDesc|markdown_to_html}}
			{% endif %}
			</div>
			{% for c in comments|reverse %}
				{% if 'append' == c.getAction.value %}
					<hr>
					<strong>UPDATED BY</strong>
					{{inlineAuthor(c.getAuthor, c.getAuthorRole)}}
					<time>{{c.getCreated|date}}</time>:
					{{c.getText|markdown_to_html}}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{% include 'comment/components/listing.html.twig' %}
	{% if app.user.can('POST_UPDATES', incident) %}
		<div class="border-start py-3 ms-4 border-5 border-subtle"></div>
		{% include 'comment/form/commentForm.html.twig' with {'incident':incident.getId, 'event': event.getId} only %}
	{% endif %}
{% endblock %}
