	<div class="sticky-bottom">
	{% if app.user.isSudoMode %}
		<div class="text-bg-danger fw-bold text-center sticky-top" style="top: 59px;">
			<div class="container">***SUDO MODE ACTIVE***</div>
		</div>
	{% endif %}
	<footer class="navbar navbar-expand-lg bg-body-tertiary border-top py-2">
		<div class="{{html_classes({
		'container' : layout is null,
		'container-fluid' : 'dashboard' == layout,
		'container' : 'linear' == layout,
		})}}">
			<span>{{app.name}}
				{{app.version}}
				&middot; &copy;
				{{'now'|date('Y')}}</span>
			{% if (app.environment != 'prod') and (debug) %}
				<span class="{{html_classes('fw-bold', { 'text-danger': app.environment == 'prod', 'text-warning': app.environment == 'test', 'text-success': app.environment == 'dev', 'text-primary': app.environment == 'local' })}}">
					Environment:
					{{app.environment|upper}}
				</span>
			{% endif %}
			{% if debug %}
				<div>
					<a href="http://localhost:8025" target="_blank" class="btn btn-primary btn-sm">Mail</a>
					<a href="{{url_for('log.doctrine')}}?search={{request_id}}" class="btn btn-primary btn-sm" target="_blank">View Queries</a>
					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#contextModal">
						View Context
					</button>
				</div>
			{% endif %}
		</div>
	</footer>
	</div>
	</div>
	<div class="modal" tabindex="-1" id="contextModal" aria-labelledby="contextModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-fullscreen">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="contextModalLabel">Context</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{dump()}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</body>
</html>
