<!doctype html>
<html lang="en" data-bs-theme="auto">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{app.name}}</title>
		{% block stylesheets %}
			{{ webpack_entry_link_tags('app') }}
		{% endblock %}

		{% block scripts %}
			{{ webpack_entry_script_tags('app') }}
			{{ webpack_entry_script_tags('globalNav') }}
			{{ webpack_entry_script_tags('mdeditor') }}
		{% endblock %}
	</head>
	<body class="{{html_classes({ 'sudo' : app.user.isSudoMode } )}}">
		{% include 'base/alerts.html.twig' %}
		{% if app.user.isAdmin %}
		{% include 'base/sudoModeModal.html.twig' %}
		{% endif %}
		<div id="app" class="{{layout}}">