{% from 'macros.html.twig' import empty %}

<div class="list-group list-group-flush border-top border-bottom">
	{% for e in events %}
		<a href="{{url_for('event.view',{'incident':incident, 'event':e.getId})}}" class="list-group-item list-group-item-action {{event.getId == e.getId ? 'active bg-opacity-10'}}">
			<div class="d-flex w-100">
				<span class="badge event-severity text-bg-{{e.getSeverity.getclass}} bg-opacity-100">{{e.getSeverity.getShort}}</span>
				<div class="flex-grow-1 ms-4">
					<div class="d-flex justify-content-between">
						<div>
							<h5><i class="fa-solid fa-message"></i> <span class="font-monospace">{{e.getId}}</span> {{e.title}}</h5>
							<p class="mb-1">{{e.getDesc|striptags|u.truncate(240, '...', false)}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</a>
	{% else %}
		<div class="list-group-item">{{empty("No Events")}}</div>
	{% endfor %}
</div>
