	<h2 class="d-flex justify-content-between align-items-center">
		<div>
			<span class="text-muted">
				{% if incident.getAgencyLogo %}
					<img src="/uploads/{{incident.getAgencyLogo}}" height="48" width="48"/>
				{% else %}
					<i class="fa-regular fa-circle-dot"></i>
				{% endif %}
				{{incident.getId}}</span>
			{{incident.getName}} {% if not incident.isActive %}<span class="badge text-bg-danger">Disabled</span>{% endif %}
		</div>
		<div style="font-size: 1rem" class="text-muted">
			created
			{{incident.created|date}}
			by
			{{incident.getCreatorName}}
		</div>
	</h2>
	{% include 'incident/components/incidentNavBar.html.twig' %}