{% from 'macros.html.twig' import userBadge, roleBadge %}
<h2 class="d-flex justify-content-between">
	<div>
		<span class="text-muted">
			{% if incident.getRole %}
				<img src="/uploads/{{incident.getRole.getAgencyLogo}}" height="48" width="48"/>
			{% else %}
				<i class="fa-regular fa-circle-dot"></i>
			{% endif %}
			{{incident.getId}}</span>
		{{incident.getName}}
		{% if not incident.isActive %}
			<span class="badge text-bg-danger">Disabled</span>
		{% endif %}
	</div>
	<div class="text-end">
		<span class="d-block mb-1" style="font-size: .8rem">Created
			<time>{{incident.getCreated|date}}</time> by</span>
		{% if incident.getRole %}
			{{roleBadge(incident.getRole, true)}}
		{% else %}
			{{userBadge(incident.getCreator, true)}}
		{% endif %}
	</div>
</h2>
{% include 'incident/components/incidentNavBar.html.twig' %}
