{% from 'macros.html.twig' import empty %}

<div class="list-group mb-3">
	{% for i in incidents %}
		<li class="list-group-item d-flex gap-2 align-items-center">
        <a href="{{url_for('incident.view',{'incident': i.getId})}}" class="link-underline link-underline-opacity-0">
			{% if i.getAgencyLogo %}
				<img src="/uploads/{{i.getAgencyLogo}}" height="48" width="48"/>
			{% else %}
				<i class="fa-solid fa-shield fs-1 d-block text-center" style="width: 48px; height: auto"></i>
			{% endif %}
            </a>
			<div>
				<h4>
					<a href="{{url_for('incident.view',{'incident': i.getId})}}">{{i.name}}</a>
				</h4>
				<small class="text-muted">#{{i.getId}}
					created
					{{i.created|date}}
					by
					{{i.getCreatorName}}</small>
			</div>
		</li>
	{% else %}
		<li class="list-group-item">
			{{empty('No Active Incidents')}}
		</li>
	{% endfor %}
</div>
