{% extends 'base/stripped.html.twig' %}
{% block body %}
<h5>An Error Occurred</h5>
	<h3>
		<span id="appErrorCode">{{error.getCode}}</span> - {{error.getMessage}}
	</h3>
	<p class="lead">Please include this request ID when reporting this error: <code>{{request_id}}</code></p>
	{% include [
				'errors/exceptions/' ~ type ~ '.html.twig',
				'errors/' ~ error.getCode ~ '.html.twig', 
				'errors/generic.html.twig'
			] ignore missing %}
	{% if app.display_error_details %}
		<div class="list-group">
			{% for t in error.trace %}
				<div class="list-group-item d-flex">
					<h1 class="me-3">{{loop.index}}</h1>
					<div>
						<span class="font-monospace d-block">{{t.file}}:{{t.line}}</span>
						<code>{{t.class}}{{t.type}}{{t.function}}()</code>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
