{% macro pagination(nbPages = 5, currentPage = 1, url, extraClasses = '', showIfOne = true) %}
	{% set classes = '' %}
	{% set param = '' %}
	{% if not query %}
		{% set query = '' %}
	{% endif %}
	{% if nbPages > 1 %}
		{# Number of page around current page+1 #}
		{% set nearbyPagesLimit = 5 %}
		<nav class="{{extraClasses}}">
			<ul class="pagination justify-content-center mb-0">
				<li class="page-item">
					<a class="page-link {{currentPage != 1 ?: 'disabled'}}" href="{{url}}{{query}}">First</a>
				</li>
				{% for i in 1..nbPages %}
					{% if 0 == (currentPage - nearbyPagesLimit) - loop.index %}
						{# dot before #}
					{% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %}
						{# dot after #}
					{% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %}
						{# hide all before #}
					{% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %}
						{# hide all after #}
					{% else %}
						<li class="page-item {{currentPage == loop.index ? 'active'}}">
							<a class="page-link" href="{{url}}{{param}}/page/{{loop.index}}{{query}}">{{ loop.index }}</a>
						</li>
					{% endif %}
				{% endfor %}
				<li class="page-item {{currentPage != nbPages ?: 'disabled'}}">
					<a class="page-link" href="{{url}}{{param}}/page/{{nbPages}}{{query}}">Last</a>
				</li>
			</ul>
		</nav>
	{% else %}
		{% if showIfOne %}
			<p class="text-center text-muted mb-0">Page 1 of 1</p>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro Hotbar(hotbar) %}
	<div class="btn-group mb-3" role="group" aria-label="Hotbar">
		{% for b in hotbar %}
			<a class="btn btn-outline-primary" href="{{url_for(b.url,b.params)}}">
				<i class="{{b.icon}}"></i>
				{{b.title}}</a>
		{% endfor %}
	</div>
{% endmacro %}

{% macro empty(text) %}
	<p class="text-center text-muted mb-0">«
		{{text}}
		»</p>
{% endmacro %}


{% macro tag(text,title) %}
	<span class="badge badge-tag bg-body-secondary text-dark border border-secondary fw-normal align-middle" data-bs-toggle="tooltip" data-bs-title="{{title}}">{{text}}</span>
{% endmacro %}

{% macro agencyBadge(agency, container = false) %}
	<div class="agency-badge d-flex align-items-center gap-1 lh-1" style="font-size: .9rem" data-agency-id="{{agency.getId}}">
		<img class="pe-none" src="/uploads/{{agency.getLogo}}" width="32" height="32"/>
		<div class="pe-none">
			<strong>{{agency.getName}}</strong><br>
			{{agency.getTitle}}
		</div>
	</div>
{% endmacro %}

{% macro roleBadge(role, container = false) %}
	{% if container %}
		<div class="bg-white border border-subtle rounded px-2 py-1 d-inline-block text-start text-black">
		{% endif %}
		<div class="role-badge d-flex align-items-center gap-1 lh-1" style="font-size: .9rem" data-agency-id="{{role.getAgencyId}}" data-role-id="{{role.getRoleId}}">
			<img class="pe-none" src="/uploads/{{role.getAgencyLogo}}" width="32" height="32"/>
			<div class="pe-none">
				<strong>{{role.getCreatorName ? role.getCreatorName ~ ', ':''}}{{role.getRoleName}}</strong><br>
				{{role.getAgencyName}}
			</div>
		</div>
		{% if container %}
		</div>
	{% endif %}
{% endmacro %}

{% macro userBadge(user, container = false) %}
	{% if container %}
		<div class="bg-white border border-subtle rounded px-2 py-1 d-inline-block text-start text-black">
		{% endif %}
		<div class="user-badge d-flex align-items-center gap-2 lh-1" style="font-size: .9rem">
			<i class="fas fa-user fs-2 d-block" style="width: 32px; height: 32px;"></i>
			<div class="pe-none">
				<strong>{{user.getName}}</strong><br>
				<code>{{user.getEmail}}</code>
			</div>
		</div>
		{% if container %}
		</div>
	{% endif %}
{% endmacro %}

{% macro inlineAuthor(user, role) %}
	{% if role %}
		<span data-bs-toggle="popover" data-bs-title="{{user.getName}}, {{user.getEmail}}" data-bs-content="Posted as {{role.getRoleName}}, {{role.getAgencyName}}" data-bs-trigger="hover focus">
			<img class="pe-none" src="/uploads/{{role.getAgencyLogo}}" width="24" height="24"/>
			<strong>{{user.getName}}</strong>
		</span>
	{% else %}
		<span data-bs-toggle="popover" data-bs-content="{{user.getName}}, {{user.getEmail}}" data-bs-trigger="hover focus">
			<strong>{{user.getName}}</strong>
		</span>
	{% endif %}
{% endmacro %}
